html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrollbar due to any potential overflow */
  }
  
  .index-image-container {
    height: 100vh; /* Set the height of each container to be 100% of the viewport height */
    background-size: cover; /* Cover the entire width and height of the container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    position: relative; /* To position the navbar absolutely within this container */
  }
  
/*  navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 50px; 
  padding: 1rem 0;
  width: 100%; 
  z-index: 3; 
 
}

  
  .navbar::before,
  .navbar::after {
      content: '';
      background: white;
      height: 2px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .navbar::before {
      top: 0;
      width: 80%;
  }
  
  .navbar::after {
      bottom: 0;
      width: 80%;
  }
  
  .logo {
      font-size: 2rem;
      font-weight: bold;
      color: white;
  }
  
  .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
      padding: 0 40px;
  }
  
  .nav-links a {
    color: white; /* Default color for all nav links */
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s; /* Smooth transition for hover and active effects */
}

.nav-links a:hover {
    color: #ddd; /* Color change on hover */
    transform: scale(1.1); /* Slightly enlarges the link on hover */
}

.nav-links .active {
    color: #ff4757; 
    font-weight: bold; 
    border-bottom: 2px solid #ff4757; 
    transform: scale(1.15); 
    cursor: default; 
}

/*nav bar for mobile smaller devices*/
.hamburger {
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

@media only screen and (max-width: 768px) {
  .hamburger {
      display: flex; /* Show the hamburger menu */
  }

  .nav-links {
      display: none; /* Hide the nav links */
      flex-direction: column; /* Stack them vertically */
      align-items: center;
      width: 100%; /* Full width */
      position: absolute;
      top: 60px; /* Below the navbar */
      left: 0;
      background-color: #333; 
  }

  .nav-links a {
      padding: 10px;
      color: white;
      text-decoration: none;
      display: block; 
  }

  .nav-links a:hover {
      background-color: #555; /* Hover effect */
  }
}

.show {
  display: flex;
}
/*end of nav bar for mobile*/



/* styling for word keshi */
.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 9rem; 
  font-weight: bold;
  z-index: 2; /* Ensure  text appears above the background image */
  text-align: left;
    
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) { 
  .centered-title {
      font-size: 8vw; /* Smaller, relative size for smaller screens */
      max-width: 50%; 
      overflow: hidden; 
      white-space: nowrap; 
  }
}

  /*for videos*/
  iframe {
    border: 1px solid black; 
}

  .video-image-container {
    height: 100vh; /* Set the height of container to be 100% of the viewport height */
    background-size: cover; /* Cover the entire width and height of the container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    position: relative;
  }
  
  .video-container {
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); 
    width: 560px; /* Width of the iframe */
    height: 315px; /* Height of the iframe */
  }
  
  .video-container.left {
    left: 0; /* Align to the left */
    margin-left: 10px; /* Add some space from the left edge */
    width: 280px; 
  height: 157.5px;
  }
  
  .video-container.right {
    right: 0; /* Align to the right */
    margin-right: 10px; /* Add some space from the right edge */
  }
  
  /* Make the iframe responsive */
  @media (max-width: 600px) {
    .video-container {
      width: 100%;
      height: auto;
      padding: 0 10px; /* Adjust padding for smaller screens */
    }
  
    .video-container iframe {
      width: 100%;
      height: auto;
    }
  
    .video-container.left, .video-container.right {
      margin-left: 0;
      margin-right: 0;
    }
  }

 /* styling for videos + "MUSIC VIDEO on smaller pages*/
 @media screen and (max-width: 768px) {
  .video-image-section-title {
      font-size: 4vw; 
      max-width: 33%; 
      margin: 0 auto; /* Center the title */
      text-align: center;
      padding: 10px 20px; /* Adds padding above, below, and on the sides */
  }
}

/*for video*/
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Hide one of the video containers */
  .video-container.right {
      display: none;
  }

  /* Adjust the size and padding of the other video container */
  .video-container.left {
      width: 60%; /* Smaller than the full width to allow padding */
      padding: 0 10%; /* Padding on right and left */
      margin: 0 auto; 
      position: relative;
      padding-bottom: 45%; 
      height: 0;
  }

  .video-container.left iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
  }
}


  /* Styling of word Music Video */ 
  .video-image-section-title {
    position: absolute;
    top: 50px;
    left: 20px; 
    color: rgb(207, 33, 33); 
    font-size: 5rem; 
    font-weight: bold; 
    z-index: 3; 
    padding-left: 10px;
  }
  


/* Style for the fetured albulm */
.albulm-image-container {
  height: 100vh; /* Set the height of each container to be 100% of the viewport height */
  background-size: cover; /* Cover the entire width and height of the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; 
  position: relative; /* To position the navbar absolutely within this container */
}


.album-title {
    position: absolute;
    top: 40px; /* This adds some space from the top edge */
    left: 50%; /* Centers the title horizontally */
    transform: translateX(-50%); /* Adjusts horizontal centering taking into account the element's width */
    color: white; 
    font-size: 4rem; 
    z-index: 2; 
    padding-top: 10px; 
    text-align: center;
  }
  


.albums-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth; /* Smooth scrolling */
  padding: 20px;
  gap: 20px;
  height: 100vh;
}

.album {
  flex: 0 0 calc(33.33% - 40px); /* Width */
  box-sizing: border-box;
  margin: 10px; /* Add margin for spacing */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically in album */
  align-items: center;
}

.album img {
  width: 80%; /* Width of the image adjusted to preference */
  height: auto; /* Maintain aspect ratio */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.album-info {
  margin-top: 8px; /* Space between image and title */
  font-size: 1rem; 
  color: #fff; 
  text-align: center; 
}

/* albulm title for smaller devices*/
@media (max-width: 600px) {
  .album-title {
      font-size: 10vw; /* Smaller font size */
      padding: 0 10px; /* Padding on sides */
      width: 80%; /* Restricting width */
      margin: 0 auto; /* Centering the title */
      max-width: 100%; /* Ensuring it doesn't exceed screen width */
      top: 120px; /* Lowering the title position */
      transform: translate(-50%, 0); /* Adjusting horizontal centering */
  }
}

@media (max-width: 600px) {
  .albums-container {
      justify-content: center; /* Center the albums on smaller screens */
  }

  .album {
      flex: 0 0 50%; /* Show two albums per view on smaller screens */
      margin: 10px; /* Consistent margin for spacing */
      box-sizing: border-box;
  }

  .album img {
      width: 70%; /* Full width of its container */
  }
}

/* Slider controls */
.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-arrow {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
}



/*Countdown Page for concert*/
.centered-image {
  background-image: url('images/keshi_hellheaven_concert_singa_1664796505_4d6a6ca1_progressive.jpg');
  background-size: contain; /* or 'cover' depending on how you want to handle the image */
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translateY(-50%);
  width: 65%; 
  height: 50%; 
  padding: 20px; 
}


.buy-ticket-button {
  position: absolute;
  bottom: 29%;
  left: 70%;
  transform: translateX(-50%);
  padding: 20px 50px;
  font-size: 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;

  font-family: 'Roboto', sans-serif;
}

.buy-ticket-button:hover {
  background-color: #0056b3;
}


/* Countdown timer */
.image-container.with-countdown {
  position: relative;
  height: 100vh; 
  background-size: cover; 
  background-position: center; 
}

.image-container.with-countdown .countdown {
  position: absolute;
  right: 10%; 
  top: 50%; /* Vertical center */
  transform: translateY(-50%); /* Vertical center adjustment */
  display: flex;
  flex-direction: row; /* Align countdown elements horizontally */
  align-items: center;
}

.image-container.with-countdown .countdown .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px; /* Horizontal spacing between each time unit */
}

.image-container.with-countdown .countdown .number {
  font-size: 90px; 
  font-weight: bold;
  color: rgb(17, 17, 19);
}

.image-container.with-countdown .countdown .label {
  font-size: 20px; /* Font size for labels (days, hours, etc.) */
  color: #c4b6b6;
}





/* showcase merch items - not actual store*/
.merchstore-background {
  background-color: white;
  padding: 20px;
  text-align: center;
  max-width: 80vw; 
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.main-content {
  min-height: 500px; 
  padding: 40px 0; 
  text-align: center; 
}

@media (max-width: 768px) {
  .main-content {
      min-height: 1200px; /* A larger minimum height for when the images stack vertically */
  }
}

.page-header h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px; 
}


.product-gallery {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically */
  gap: 20px; /* Spacing between images */
}

.product-gallery img {
  max-width: 30%; /* Adjust the max width to fit three images side by side */
  height: auto; /* Maintain aspect ratio */
  display: block;
  padding: 10px; /* Padding around each image */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .product-gallery {
    flex-direction: column;
    gap: 15px; /* Adjust gap for vertical stacking */
  }
  
  .product-gallery img {
    max-width: 80%; /* Larger images for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .product-gallery img {
    max-width: 90%; /* Even larger images for very small screens */
  }
}


/*---------------About Page CSS-----------------*/
/*CSS FOR ABOUT PAGE !! */  /*CSS FOR ABOUT PAGE !! */ /*CSS FOR ABOUT PAGE !! */ 


.aboutpage-image-container {
  height: 100vh; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative;
  
}

/* Styling for the 'ABOUT' text */
.about-title {
  position: absolute;
  top: 50%; 
  left: 2.5%; 
  transform: translateY(-50%);
  color: white; 
  font-size: 7.5rem; 
  font-weight: bold;
  z-index: 2;
  text-align: left;
}

/* Styling for the 'KESHI' text */
.keshi-title {
  position: absolute;
  top: 50%; /*Note to self: Adjust this value to move vertically */
  right: 10%; /* Note to self: Adjust this value to move horizontally to the right */
  transform: translateY(-50%);
  color: rgb(32, 31, 31); 
  font-size: 9rem; 
  font-weight: bold;
  z-index: 2;
  text-align: right;
}

/* styling for first page of about page media queries*/
@media screen and (max-width: 768px) {
  /* Adjust the 'ABOUT' text for smaller devices */
  .about-title {
      font-size: 3.5rem; /* Smaller font size for mobile devices */
      left: 5%; 
      top: 30%; 
  }

  /* Adjust the 'KESHI' text for smaller devices */
  .keshi-title {
      font-size: 4rem; 
      right: 5%; 
      top: 40%; /
  }
}


/* Styling for the video section */
.video-section {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 0 5%; 
}

/* Responsive iframe styling with padding and height adjustment */
.video-section iframe {
  width: 90%; 
  height: 85vh; 
  max-width: 90%; /* Ensure it doesn't overflow on smaller screens */
  max-height: 85vh; 
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1); /*shadows */
}

/* media queries for video on smalle devices*/
/* Styling for the video section */
.video-section {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 0 5%; 
}

/* Responsive iframe styling with padding and height adjustment */
.video-section iframe {
  width: 100%; 
  height: auto; 
  max-width: 90%; 
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  aspect-ratio: 16 / 9; /
}

/* CSS for Mobile Devices */
@media screen and (max-width: 768px) {
  .video-section {
      height: auto; 
      padding: 20px; 
  }

  .video-section iframe {
      width: 90%; 
      max-height: 75vh; 
      aspect-ratio: 16 / 9; 
  }
}


/* Styling for the KESHI information section */
.keshi-info {
  background-color: #b42626; 
  color: white; 
  padding: 50px 10%; 
  min-height: 50vh; 
  font-size: 1rem; 
  line-height: 1.6; /* Good for paragraph readability */
}


.keshi-info p {
  margin-bottom: 20px; 
}



/* Styling for the new section with the KESHI image as background */
.keshi-image-section {
  background-image: url('images/SchonMagazine_keshi.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}



/*---------------MERCH Page CSS-----------------*/
/*CSS FOR MERCH PAGE !! */  /*CSS FOR MERCH PAGE !! */ /*CSS FOR MERRCH PAGE !! */ 

/*merch bg*/
.background-image-div {
  background-image: url('images/merchbg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100%; 
  position:relative;
}

.featured-container {
  text-align: left; 
  padding-left: 40px; 
}

.featured-title {
  font-size: 4rem; /* Increase the font size for visibility */
  font-family: 'Arial', sans-serif; 
  color: #000; 
  padding: 20px 0; /* Add some space around the title */
  position: relative; 
  left: 0; /* Adjust this value to move the title left or right */
  top: -30px; /* Adjust this value to move the title up or down */
}



.white-background-page {
  background-color: white;
  padding-top: 100px; /* Increase padding at the top */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; /* Add padding at the bottom to make the page longer */
  min-height: 200vh; /* Increase the minimum height to make the page longer */
  position: relative;
}

.merch-grid {
  max-width: 1200px;
  margin: 0 auto;
}

.merch-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px; /* Space between rows */
}

.merch-item {
  width: calc(25% - 30px); /* Adjusted to fit 4 items per row, accounting for margins */
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.merch-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.merch-item .item-name, .merch-item .item-price {
  display: block;
  margin-top: 10px;
}

/* Adjust for the last item in each row to remove the right margin */
.merch-row .merch-item:nth-child(4n) {
  margin-right: 0;
}


/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .featured-title {
    font-size: 2rem; /* Reduce the font size for smaller screens */
    padding: 0 10px; /* Add padding to prevent text from touching the sides */
  }
  .merch-item {
    width: calc(50% - 30px); /* Adjust for two items per row on smaller screens */
    margin-right: 30px;
  }
  .merch-row .merch-item:nth-child(2n) {
    margin-right: 0;
  }
}


.rectangle-title {
  text-align: center; /* Center the title */
  margin-top: 30px; /* Space above the title */
  margin-bottom: 20px; /* Space below the title */
}

.rectangle-title h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  /* Add additional styling for the title here */
}


.vertical-rectangles {
  display: flex;
  justify-content: space-between; /* Distribute rectangles evenly */
  width: 75%; /* Rectangles cover 3/4 of the page width */
  margin: 20px auto 0; /* Space below the merchandise grid and centering */
  padding: 0 15px; /* To ensure content doesn't touch the screen edges on small devices */
}

.rectangle {
  background-color: #808080; /* Grey background */
  flex: 1; /* Each rectangle takes equal space */
  height: 300px; /* Height of each rectangle */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  border-radius: 10px; /* Rounded corners */
}

.rectangle img {
  max-width: 90%; 
  height: auto; 
  object-fit: contain; 
}


/*testing for cart*/
.add-to-cart-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%; 
  box-sizing: border-box;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Ensure each item uses full width of the container */
}

.cart-item-img {
  width: 50px; 
  height: 50px;
  margin-right: 10px;
}

.quantity {
  margin-left: auto;
  margin-right: 10px;
}

.remove-item {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}






/*---------------MEDIA Page CSS-----------------*/
/*CSS FOR MEDIA PAGE !! */  /*CSS FOR MEDIA PAGE !! */ /*CSS FOR MEDIA PAGE !! */ 

.media-image-container {
  height: 100vh; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
}

.video-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%; 
  margin: auto; 
  padding-top: 120px; 
}



.video-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.video {
  width: 320px;  
  height: 180px; 
  margin: 0 10px;
}

/* smallerr device css*/

@media screen and (max-width: 768px) {
  .video-grid {
      max-width: 100%; /* Allow the grid to take the full width */
      padding-top: 60px; /* Adjust padding for smaller screens */
  }

  .video-row {
      flex-direction: column; /* Stack videos vertically */
      align-items: center; /* Align videos in the center */
      margin-bottom: 40px; /* Increase spacing between videos */
  }

  .video {
      width: 90%; /* Increase width to better fit mobile screens */
      height: auto; /* Adjust height automatically */
      margin: 10px 0; /* Adjust margin for vertical stacking */
  }
}

